default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};

{% for subnet in dhcpd_subnets %}
subnet {{ subnet.ip }} netmask {{ subnet.netmask }} {

        option routers                  {{ subnet.routers }};
        option domain-name-servers      {{ subnet.dns_servers }};
        option ntp-servers              {{ subnet.ntp_servers }};
        option domain-name              "{{ subnet.domain_name }}";

{% for host in subnet.hosts %}
        host {{ host.name }} {
                hardware ethernet {{ host.mac }};
                fixed-address {{ host.ip }};
        }
{% endfor %}
}
{% endfor %}
