network:
  version: 2
  renderer: networkd
  ethernets:
{% for ethernet in ethernets %}
    {{ ethernet }}:
      dhcp4: no
{% endfor %}
  bridges:
{% for bridge in bridges %}
    {{ bridge.name }}:
      dhcp4: no
      interfaces:
{% for interface in bridge.interfaces %}
        - {{ interface }}
{% endfor %}
{% endfor %}
